


*{
    margin: 0 ;
    padding:0 ; 
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body {
   display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding : 10px;
    background:  linear-gradient(to bottom, #0072ff, #00c6ff);
}
.container
{
    position: relative;
    max-width:  500px;
    width: 100%;
    background: #fff;
    padding :25px;
    border-radius: 5px;
}
.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;

}
.container .title::before {
content: '';
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width: 30px;
background:  linear-gradient(to bottom, #0072ff, #00c6ff);
}

.container form .user-details{
  
    flex-wrap: wrap;
    justify-content:space-between ;
    margin: 20px 0 12px 0;

}
 
form .user-details .input-box{
    margin-bottom:15px ;
    width: calc(100% /2 - 20px);

}
.user-details .input-box .details{
   display: block;
    font-weight: 500;
    margin-bottom: 5px;

}
.user-details .input-box input
{
    height: 45px;
    width: 450px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:2px;
} 
.user-details .input-box input:focus, 
.user-details .input-box input:valid
{
    border-color: #00c6ff;

}


form .button
{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height:100% ;
    width: 100%;
    outline: none;
    color: #fff;
    border :none ; 
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background:  linear-gradient(to bottom, #0072ff, #00c6ff);

}

.txt {

    font-size: 12px;
}
.container .sign-up-text{
    text-align: center;
    margin-top: 25px;
}


.container .sign-up-text label{

    color: #00c6ff;
    cursor: pointer;
}




















/* 


body {
    
    background-color: #F0F0F0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.container {
    background-color: #FFFFFF;
    padding: 25px ;
    border-radius: 5px;
    margin: 50px auto;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #CCCCCC;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

 */
