.container-form {
    background-color: #eef3f9;
    max-width: 950px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #1F3C88;
    margin-bottom: 30px;
    color: #070D59;
    max-height: 500px;
}

form {
    background-color: #CEDDEF;
}

.row {

    justify-content: center;
}

form .user-details {
    display: flex;
}

form .input-box {
    margin-top: 20px;
    display: inline-block;
    width: 440px;
    height: 110px;
}

.input-box input,
select {
    height: 45px;
    width: 150px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-bottom-width: 2px;
}

.search-bar {
    display: flex;
    justify-content: center;
    background-color: #1F3C88;
}

.search-bar .input-box {
    display: inline-block;
}

form .input-box input,
select {
    height: 45px;
    width: 350px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #5893D4;
    /* 00c6ff */

}


.search-result-container {
    margin-right: 30px;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.search-result-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.search-result-container p {
    font-size: 18px;
    line-height: 1.5;
}

button[type="submit"] {
    margin-top: 63px;
    height: 45px;
    width: 100px;
    margin-right: 10px;
    padding-right: 10px;
    padding: 0 15px;
    font-size: 16px;
    background-color: #5893D4;
    color: #fff;
    border: none;
    border-radius: 12px;
    outline: none;
    cursor: pointer;

}

button[type="submit"]:hover {
    box-shadow: 0 0 5px 0 #CEDDEF inset, 0 0 10px 2px #CEDDEF;

}

label {
    font-size: 20px;
    color: white;
    /* padding: 5px; */
    padding-bottom: 15px;
}